In [25]:
%load_ext autoreload
%autoreload 2
import pandas as pd
import numpy as np
import risk_kit as rk
import scipy.optimize as opt
from pricing_models import LevelPaymentMortgage, StockPricing, FuturesPricing, OptionsPricing, BondPricing, ForwardsPricing, SwapsPricing, PassThroughMBS


n = 10
r00 = 0.05
u = 1.1
d = 0.9
q = 0.5

rate_model = StockPricing(n, r00, u, d)

## Q1 Compute the price of ZCB that matures at t = 10, with face value = 100.

F = 100

bond_pricing = BondPricing(n=n, F=F, q=q, r = rate_model, c=0)
round(bond_pricing.price, 2)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

61.62

In [12]:
# Q 2 Compute the price of forward contract on the same ZCB where forward matures at t= 4

n = 4
forward_price = ForwardsPricing(n, bond_pricing, q, rate_model)
round(forward_price.price, 2)

74.88

In [14]:
# Compute the intital price od futures contract on ZCB. The contract has expiration of t= 4

future_price = FuturesPricing(n, bond_pricing, q)
round(future_price.price, 2)

74.82

In [19]:
# Q 4 Compute the price of American call option on ZCB. The option has expiration t = 6 and k = 80

n= 6
strike = 80
is_call = True
is_american = True

option_price = OptionsPricing(n, bond_pricing, rate_model, q, strike, is_call , is_american)
round(option_price.price, 2)

2.36

In [22]:
T = 30
r = 0.05
P = 400000
loan = LevelPaymentMortgage(P,r, T)
round(loan.monthly_payment, 2)

2147.29

In [27]:
P = 400
T = 20
rate_received = 0.06
rate_paid = 0.05
PSA = 100

mortgage_pool = PassThroughMBS ( P=P, T=T, loan_r = rate_received,
                               pass_r = rate_paid,
                               PSA=PSA)
mortgage_pool.data.head()

,Total Payment Received,Principal Received,Interest Received,Total Amount Paid,Principal Paid,Interest Paid,Earning,Prepayment Rate,Prepayment Amount,Total OutStanding Amount
1,2.865724,0.865724,2.000000,2.598974,0.932308,1.666667,0.266750,0.000167,0.066583,399.067692
2,2.865246,0.869908,1.995338,2.665666,1.002884,1.662782,0.199580,0.000334,0.132977,398.064808
3,2.864289,0.873965,1.990324,2.731712,1.073109,1.658603,0.132577,0.000501,0.199144,396.991699
4,2.862853,0.877895,1.984958,2.797076,1.142944,1.654132,0.065777,0.000669,0.265049,395.848755
5,2.860938,0.881694,1.979244,2.861721,1.212351,1.649370,-0.000784,0.000837,0.330657,394.636404

In [29]:
round(mortgage_pool.data['Interest Paid'].sum(),2)

171.18

In [32]:
round(mortgage_pool.data['Prepayment Amount'].sum(),2)

181.09

In [34]:
PSA = 200
mortgage_pool  = PassThroughMBS(P=P, T=T,
                               loan_r = rate_received,
                               pass_r = rate_paid,
                               PSA=PSA)
round(mortgage_pool.data['Prepayment Amount'].sum(), 2)

268.15